.logo{
	display:block;
	margin:auto;
	width: 50px;
	height: 50px;
}

h1{
	margin-top:8px;
	font-size:30px;
	text-align:center;
}

body{
	background-color: #c9c8ff;
}
.container{

max-width: 955px;
border:2px solid black;
margin:auto;
height:333px;
padding:33px;
overflow-y:auto;	
margin-bottom:23px;
background-color:#e1ff8c;

}

.message{
	display:block;
	background-color:grey;
	width:24%;
	padding:10px;
	margin:17px 3px;
	border:2px solid black;
}
.left{
	float:left;
	clear: both;
}
.right{
	float:right;
	clear: both;
}

#send-container{
	display:block;
	text-align:center;
	max-width:985px;
	width:100%;
	margin:auto;
}
#messageInp{
	width:90%;
	border:2px solid black;
	border-radius:3px;
	height: 34px;
}
.btn{
	cursor:pointer;
	border:2px solid black;
	border-radius:6px;
	height:30px;
}